<!-- <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer-content">
            <div class="footer-animation">
              <span class="animated-name">bracha.developer</span>
            </div>
            <div class="copyright">
              &copy; {{ currentYear }} bracha.developer. All rights reserved.
            </div>
            <div class="management">
              Website managed by bracha.developer
            </div>
            <div class="email">
                Contact us: {{email}}
              </div>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
  <footer class="footer" id="color-bg">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer-content">
            <div class="footer-animation">
              <span class="animated-name">bracha.developer</span>
            </div>
            <div class="copyright">
              &copy; {{ currentYear }} bracha.developer. All rights reserved.
            </div>
            <div class="management">
              Website managed by bracha.developer
            </div>
            <div class="email">
                Contact us: {{email}}
              </div>
          </div>
        </div>
      </div>
    </div>
</footer>
